.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 60px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  box-sizing: border-box;
}
body a {
  text-decoration: none;
}

.sub-link {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #0085FF;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sub-link:hover {
  color: #F0145A;
}
.sub-link:hover svg path {
  stroke: #F0145A;
}

.gray-line {
  height: 4px;
  width: 100%;
  background: #E6E6F0;
  margin-bottom: 15px;
}

.main-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  margin-bottom: 30px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media (max-width: 450px) {
  .main-title {
    font-size: 30px;
  }
}

@media (min-width: 1920px) {
  .trust .container {
    max-width: 1720px;
  }
}
@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
@media (max-width: 768px) and (min-width: 680px) {
  .container {
    max-width: 708px;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header__top {
  font-size: 19px;
  background-color: pink;
}
.header__top-content > div:not(:last-child) {
  margin-right: 6px;
}
.header__top-content > div:not(:last-child):after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 3px;
}
.header__top-lang input[name=lang] {
  display: none;
}
.header__top-lang input[name=lang]:checked + span {
  background-color: #F0145A;
}
.header__top-lang label span {
  cursor: pointer;
  font-weight: 700;
  color: #ffffff;
  padding: 5px 7px;
  border-radius: 8px;
  display: inline-block;
}
.header__top-address a, .header__top-phone a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.header__top-phone a {
  font-weight: 700;
}

.trust {
  padding-top: 60px;
}

.can {
  padding: 60px 0px 60px;
  color: #ffffff;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  max-width: 1920px;
  margin: 0 auto;
}
.can__top {
  margin-bottom: 60px;
}
.can__title {
  color: #F0145A;
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 15px;
}
.can__products-img {
  padding: 14px;
  background: #ffffff;
  border-radius: 24px;
  margin-bottom: 30px;
}
.can__products-title {
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.82px;
}
.can__products-text {
  font-size: 16px;
  line-height: 26px;
}

.trust__title {
  text-transform: uppercase;
  font-size: 14px;
  color: #323264;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.trust__company {
  height: 120px;
}
.trust__company-1 {
  background: #1C4280;
}
.trust__company-2 {
  background: #143646;
}
.trust__company-3 {
  background: #F48B30;
}
.trust__company-4 {
  background: #9E4DC3;
}
.trust__company-5 {
  background: #FD9339;
}
.trust__company-6 {
  background: #E2E2E4;
}
.trust__company-7 {
  background: #C71C36;
}
.trust__company-8 {
  background: #DCF3F9;
}
.trust__company-9 {
  background: #EAEAEA;
}
.trust__company-10 {
  background: #282240;
}
.trust__company-11 {
  background: #1D4568;
}
.trust__company-12 {
  background: #000000;
}
.trust__flex {
  overflow: hidden;
  border-radius: 12px;
}

@media (max-width: 1920px) {
  .trust .container {
    max-width: 1720px;
  }
}
@media (max-width: 1440px) {
  .trust .container {
    width: 100%;
    padding: 0;
  }
  .trust__flex {
    border-radius: 0;
  }
}

.footer {
  padding: 30px 0;
  background: #F5F5FA;
}
.footer__line {
  margin-bottom: 30px;
  height: 1px;
  background: #E6E6F0;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__address {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 20px;
}
.footer__address-text {
  font-size: 16px;
  color: #323264;
}
.footer__address-link {
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #24A3FF;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__address-link:hover {
  color: #F0145A;
  transition: 0.5s;
}
.footer__address-link:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #B3B3BA;
  border-radius: 50%;
  top: 7px;
  left: -13px;
}
.footer__copy {
  width: 50%;
  text-align: right;
  font-size: 16px;
  color: #B3B3BA;
}
.footer__phone a {
  font-size: 16px;
  font-weight: 700;
  color: #46466E;
}
.footer__email a {
  font-size: 14px;
  color: #24A3FF;
  font-weight: 700;
}
.footer__phone a:hover, .footer__email a:hover {
  color: #F0145A;
  transition: 0.5s;
}
.footer__social a svg:hover path {
  fill: #F0145A;
  transition: 0.5s;
}
.footer__phone, .footer__email {
  position: relative;
}
.footer__phone:before, .footer__email:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: #B3B3BA;
  border-radius: 50%;
  top: 9px;
  left: -13px;
}
.footer__contact {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 26px;
}

@media (max-width: 768px) {
  .footer__inner {
    max-width: 400px;
    margin: 0 auto;
  }
  .footer__address, .footer__copy, .footer__contact {
    width: 100%;
  }
  .footer__copy {
    text-align: center;
    order: 1;
  }
  .footer__contact {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  .footer__address {
    gap: 10px;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__contact {
    gap: 10px;
    flex-direction: column;
  }
  .footer *:before {
    display: none;
  }
}

/*# sourceMappingURL=servicespage.css.map */
