.can {
  padding: 60px 0px 60px;
  color: $color-white;
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
  max-width: 1920px;
  margin: 0 auto;


  &__top {
    margin-bottom: 60px;
  }


  &__title {
    color: $color-accent;
    font-size: $font-xxl;
    line-height: 46px;
    font-weight: $font-bold;
    margin-bottom: 15px;
  }

  &__products {
    
    &-title {
      color: $color-active-regular;
      font-size: $font-lgg;
      font-weight: $font-bold;
      line-height: 26.82px;
    }

    &-text {
      font-size: $font-sm;
      line-height: 26px;
    }

  }
}